

/* .pClass{
  background-color: steelblue;
} */

.colorMix{
  font-size: large;
  color: goldenrod;
  background-color: mediumspringgreen;
}
.add-H1{
  font-size: large;
  color: rgb(251, 255, 0);
  background-color: rgb(27, 0, 124);
}